<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Signature for Java Spring</title>
    <base href="/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<client-root></client-root>
<script src="angular/signature/runtime-es2015.js" type="module"></script>
<script src="angular/signature/polyfills-es2015.js" type="module"></script>
<script src="angular/signature/runtime-es5.js" nomodule></script>
<script src="angular/signature/polyfills-es5.js" nomodule></script>
<script src="angular/signature/styles-es2015.js" type="module"></script>
<script src="angular/signature/styles-es5.js" nomodule></script>
<script src="angular/signature/vendor-es2015.js" type="module"></script>
<script src="angular/signature/main-es2015.js" type="module"></script>
<script src="angular/signature/vendor-es5.js" nomodule></script>
<script src="angular/signature/main-es5.js" nomodule></script>
</body>
</html>