<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Signature for Java Spring</title>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/all.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/v4-shims.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/font-awesome.min.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/swiper.min.css'}">
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/jquery-ui.min.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/common/css/circle-progress.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/viewer/css/viewer-dark.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/bcPaint.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/bcPaint.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/signature.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/signature.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/stampGenerator.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/opticalCodeGenerator.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/textGenerator.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/bcPicker.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/bcPicker.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/stampGenerator.mobile.css'}"/>
    <link type="text/css" rel="stylesheet" th:href="@{'/assets/signature/css/opticalCodeGenerator.mobile.css'}"/>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/swiper.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery-ui.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/es6-promise.auto.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/common/js/jquery.ui.touch-punch.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/viewer/js/viewer.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/fontsObject.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/jquery.ba-throttle-debounce.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/signature.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/rotatable.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/bcPaint.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/bcPicker.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/stampGenerator.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/opticalCodeGenerator.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/signature/js/textGenerator.js'}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="element"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#element').signature({
        /*[+
        applicationPath: 'http://' + [[${globalConfiguration.server.hostAddress}]] + ':' + [[${globalConfiguration.server.httpPort}]] + [[${globalConfiguration.server.applicationContextPath}]] + '/signature',
        +]*/
        defaultDocument: /*[[${signatureConfiguration.defaultDocument}]]*/'',
        preloadPageCount: /*[[${signatureConfiguration.preloadPageCount}]]*/'',
        pageSelector: /*[[${signatureConfiguration.pageSelector}]]*/'',
        download: /*[[${signatureConfiguration.download}]]*/'',
        upload: /*[[${signatureConfiguration.upload}]]*/'',
        print: /*[[${signatureConfiguration.print}]]*/'',
        browse: /*[[${signatureConfiguration.browse}]]*/'',
        rewrite: /*[[${signatureConfiguration.rewrite}]]*/'',
        enableRightClick: /*[[${signatureConfiguration.enableRightClick}]]*/'',
        textSignature: /*[[${signatureConfiguration.textSignature}]]*/'',
        imageSignature:  /*[[${signatureConfiguration.imageSignature}]]*/'',
        digitalSignature:  /*[[${signatureConfiguration.digitalSignature}]]*/'',
        qrCodeSignature:  /*[[${signatureConfiguration.qrCodeSignature}]]*/'',
        barCodeSignature:  /*[[${signatureConfiguration.barCodeSignature}]]*/'',
        stampSignature:  /*[[${signatureConfiguration.stampSignature}]]*/'',
        handSignature:  /*[[${signatureConfiguration.handSignature}]]*/'',
        downloadOriginal:  /*[[${signatureConfiguration.downloadOriginal}]]*/'',
        downloadSigned:  /*[[${signatureConfiguration.downloadSigned}]]*/''
    });
    /*]]>*/
</script>
</body>
</html>